/PCB_main/Sofle_Pico-backups/*
/PCB_main/_autosave*
/PCB_main/~_autosave*
/PCB_main/Case/*
/PCB_thumb_cluster/Sofle_Pico-backups/*
/PCB_thumb_cluster/_autosave*
/PCB_thumb_cluster/~_autosave*
/PCB_thumb_cluster/Case/*
/target
/rukey_main_pcb.step
/rukey_thumb_cluster_pcb.step
/rukey_main_gerber_files.zip
/rukey_thumb_cluster_gerber_files.zip
*.lck

