version 0

// This config maps every key to an alphabetic character
// Its purpose is to make it trival to test every key on a freshly assembled keyboard

device rukey
nickname "rukey"
color 0xFF0000

profiles {
    - {
        mappings {
          // num keys
          - on-press : left-row0-col0 -> keyboard-a
          - on-press : left-row0-col1 -> keyboard-b
          - on-press : left-row0-col2 -> keyboard-c
          - on-press : left-row0-col3 -> keyboard-d
          - on-press : left-row0-col4 -> keyboard-e
          - on-press : left-row0-col5 -> keyboard-f
          - on-press : left-row0-col6 -> keyboard-g

          - on-press : right-row0-col6 -> keyboard-a
          - on-press : right-row0-col5 -> keyboard-b
          - on-press : right-row0-col4 -> keyboard-c
          - on-press : right-row0-col3 -> keyboard-d
          - on-press : right-row0-col2 -> keyboard-e
          - on-press : right-row0-col1 -> keyboard-f
          - on-press : right-row0-col0 -> keyboard-h

          // qwer
          - on-press : left-row1-col0 -> keyboard-h
          - on-press : left-row1-col1 -> keyboard-i
          - on-press : left-row1-col2 -> keyboard-j
          - on-press : left-row1-col3 -> keyboard-k
          - on-press : left-row1-col4 -> keyboard-l
          - on-press : left-row1-col5 -> keyboard-m
          - on-press : left-row1-col6 -> keyboard-n

          - on-press : right-row1-col6 -> keyboard-h
          - on-press : right-row1-col5 -> keyboard-i
          - on-press : right-row1-col4 -> keyboard-j
          - on-press : right-row1-col3 -> keyboard-k
          - on-press : right-row1-col2 -> keyboard-l
          - on-press : right-row1-col1 -> keyboard-m
          - on-press : right-row1-col0 -> keyboard-n

          // asdf
          - on-press : left-row2-col0 -> keyboard-o
          - on-press : left-row2-col1 -> keyboard-p
          - on-press : left-row2-col2 -> keyboard-q
          - on-press : left-row2-col3 -> keyboard-r
          - on-press : left-row2-col4 -> keyboard-s
          - on-press : left-row2-col5 -> keyboard-t
          - on-press : left-row2-col6 -> keyboard-u

          - on-press : right-row2-col6 -> keyboard-o
          - on-press : right-row2-col5 -> keyboard-p
          - on-press : right-row2-col4 -> keyboard-q
          - on-press : right-row2-col3 -> keyboard-r
          - on-press : right-row2-col2 -> keyboard-s
          - on-press : right-row2-col1 -> keyboard-t
          - on-press : right-row2-col0 -> keyboard-u

          // zxcv
          - on-press : left-row3-col0 -> keyboard-a
          - on-press : left-row3-col1 -> keyboard-b
          - on-press : left-row3-col2 -> keyboard-c
          - on-press : left-row3-col3 -> keyboard-d
          - on-press : left-row3-col4 -> keyboard-e
          - on-press : left-row3-col5 -> keyboard-f

          - on-press : right-row3-col5 -> keyboard-a
          - on-press : right-row3-col4 -> keyboard-b
          - on-press : right-row3-col3 -> keyboard-c
          - on-press : right-row3-col2 -> keyboard-d
          - on-press : right-row3-col1 -> keyboard-e
          - on-press : right-row3-col0 -> keyboard-f

          // bottom row
          - on-press : left-row4-col0 -> keyboard-h
          - on-press : left-row4-col1 -> keyboard-i
          - on-press : left-row4-col2 -> keyboard-j
          - on-press : left-row4-col3 -> keyboard-k
          - on-press : left-row4-col4 -> keyboard-l

          - on-press : right-row4-col4 -> keyboard-h
          - on-press : right-row4-col3 -> keyboard-i
          - on-press : right-row4-col2 -> keyboard-j
          - on-press : right-row4-col1 -> keyboard-k
          - on-press : right-row4-col0 -> keyboard-l

          // thumb cluster - left
          - on-press : left-thumb-row0-col0 -> keyboard-a
          - on-press : left-thumb-row0-col1 -> keyboard-b
          - on-press : left-thumb-row1-col0 -> keyboard-c
          - on-press : left-thumb-row1-col1 -> keyboard-d
          - on-press : left-thumb-row1-col2 -> keyboard-e

          // thumb cluster - right
          - on-press : right-thumb-row0-col0 -> keyboard-a
          - on-press : right-thumb-row0-col1 -> keyboard-b
          - on-press : right-thumb-row1-col0 -> keyboard-c
          - on-press : right-thumb-row1-col1 -> keyboard-d
          - on-press : right-thumb-row1-col2 -> keyboard-e
        }
    }
}

pin-remappings { }
