version 0

device rukey
nickname "rukey"
color 0xFF0000

profiles {
    - {
        mappings {
          // num keys
          - on-press : left-row0-col0 -> keyboard-media-previous-song
          - on-press : left-row0-col1 -> keyboard-top-row-1-exclamation
          - on-press : left-row0-col1 + right-row2-col1 -> keyboard-f1
          - on-press : left-row0-col2 -> keyboard-top-row-2-at
          - on-press : left-row0-col2 + right-row2-col1 -> keyboard-f2
          - on-press : left-row0-col3 -> keyboard-top-row-3-hash
          - on-press : left-row0-col3 + right-row2-col1 -> keyboard-f3
          - on-press : left-row0-col4 -> keyboard-top-row-4-dollar
          - on-press : left-row0-col4 + right-row2-col1 -> keyboard-f4
          - on-press : left-row0-col5 -> keyboard-top-row-5-percent
          - on-press : left-row0-col5 + right-row2-col1 -> keyboard-f5
          - on-press : left-row0-col6 -> keyboard-left-windows + keyboard-enter
          - on-press : left-row0-col6 + right-row2-col1 -> keyboard-f6

          - on-press : right-row0-col6 -> keyboard-left-shift + keyboard-insert
          - on-press : right-row0-col6 + right-row2-col1 -> keyboard-f7
          - on-press : right-row0-col5 -> keyboard-top-row-6-caret
          - on-press : right-row0-col5 + right-row2-col1 -> keyboard-f6
          - on-press : right-row0-col4 -> keyboard-top-row-7-ampersand
          - on-press : right-row0-col4 + right-row2-col1 -> keyboard-f7
          - on-press : right-row0-col3 -> keyboard-top-row-8-asterisk
          - on-press : right-row0-col3 + right-row2-col1 -> keyboard-f8
          - on-press : right-row0-col2 -> keyboard-top-row-9-open-parens
          - on-press : right-row0-col2 + right-row2-col1 -> keyboard-f9
          - on-press : right-row0-col1 -> keyboard-top-row-0-close-parens
          - on-press : right-row0-col1 + right-row2-col1 -> keyboard-f10
          - on-press : right-row0-col0 -> keyboard-media-next-song
          - on-press : right-row0-col0 + right-row2-col1 -> keyboard-f11

          // qwer
          - on-press : left-row1-col0 -> keyboard-backtick-tilde
          - on-press : left-row1-col1 -> keyboard-q
          - on-press : left-row1-col2 -> keyboard-w
          - on-press : left-row1-col3 -> keyboard-e
          - on-press : left-row1-col4 -> keyboard-r
          - on-press : left-row1-col5 -> keyboard-t
          // - on-press : left-row1-col6 -> free key

          - on-press : right-row1-col6 -> keyboard-left-windows + keyboard-left-shift + keyboard-enter
          - on-press : right-row1-col5 -> keyboard-y
          - on-press : right-row1-col4 -> keyboard-u
          - on-press : right-row1-col3 -> keyboard-i
          - on-press : right-row1-col2 -> keyboard-o
          - on-press : right-row1-col1 -> keyboard-p
          - on-press : right-row1-col0 -> keyboard-backslash-bar
          - on-press : right-row1-col0 + right-row2-col1 -> keyboard-f12

          // asdf
          - on-press : left-row2-col0 -> keyboard-tab
          - on-press : left-row2-col1 -> keyboard-a
          - on-press : left-row2-col1 + right-row2-col1 -> keyboard-left-shift + keyboard-open-bracket-brace
          - on-press : left-row2-col2 -> keyboard-s
          - on-press : left-row2-col2 + right-row2-col1 -> keyboard-left-shift + keyboard-close-bracket-brace
          - on-press : left-row2-col3 -> keyboard-d
          - on-press : left-row2-col3 + right-row2-col1 -> keyboard-left-shift + keyboard-top-row-9-open-parens
          - on-press : left-row2-col4 -> keyboard-f
          - on-press : left-row2-col4 + right-row2-col1 -> keyboard-left-shift + keyboard-top-row-0-close-parens
          - on-press : left-row2-col5 -> keyboard-g
          - on-press : left-row2-col6 -> keyboard-equal-plus

          - on-press : right-row2-col6 -> keyboard-dash-underscore
          - on-press : right-row2-col5 -> keyboard-h
          - on-press : right-row2-col4 -> keyboard-j
          - on-press : right-row2-col4 + right-row2-col1 -> keyboard-page-down
          - on-press : right-row2-col3 -> keyboard-k
          - on-press : right-row2-col3 + right-row2-col1 -> keyboard-page-up
          - on-press : right-row2-col2 -> keyboard-l
          - on-press : right-row2-col2 + right-row2-col1 -> keyboard-print-screen
          - macro-on-tap 150 : right-row2-col1 -> keyboard-semi-colon
          - on-press : right-row2-col0 -> keyboard-single-double-quote

          // zxcv
          - on-press : left-row3-col0 -> keyboard-left-shift
          - macro-on-tap 150 : left-row3-col1 -> keyboard-z
          - on-hold 150 : left-row3-col1 -> keyboard-left-control
          - on-press : left-row3-col1 + right-row2-col1 -> keyboard-left-shift + keyboard-comma-less-than
          - on-press : left-row3-col2 -> keyboard-x
          - on-press : left-row3-col2 + right-row2-col1 -> keyboard-left-shift + keyboard-period-greater-than
          - on-press : left-row3-col3 -> keyboard-c
          - on-press : left-row3-col3 + right-row2-col1 -> keyboard-open-bracket-brace
          - on-press : left-row3-col4 -> keyboard-v
          - on-press : left-row3-col4 + right-row2-col1 -> keyboard-close-bracket-brace
          - on-press : left-row3-col5 -> keyboard-b

          - on-press : right-row3-col5 -> keyboard-n
          - on-press : right-row3-col4 -> keyboard-m
          - on-press : right-row3-col3 -> keyboard-comma-less-than
          - on-press : right-row3-col2 -> keyboard-period-greater-than
          - macro-on-tap 150 : right-row3-col1 -> keyboard-slash-question
          - on-hold 150 : right-row3-col1 -> keyboard-right-control
          - on-press : right-row3-col0 -> keyboard-volume-up

          // bottom row
          - on-press : left-row4-col0 -> keyboard-media-play-pause
          - on-press : left-row4-col1 -> keyboard-left-control
          - on-press : left-row4-col2 -> keyboard-mute
          - on-press : left-row4-col3 -> keyboard-left-arrow
          - on-press : left-row4-col4 -> keyboard-right-arrow

          - on-press : right-row4-col4 -> keyboard-up-arrow
          - on-press : right-row4-col3 -> keyboard-down-arrow
          //- on-press : right-row4-col2 -> free key
          // - on-press : right-row4-col1 -> free key
          - on-press : right-row4-col0 -> keyboard-volume-down

          // thumb cluster - left
          - on-press : left-thumb-row0-col0 -> keyboard-backspace
          - on-press : left-thumb-row0-col1 -> keyboard-left-alt
          - on-press : left-thumb-row1-col0 -> keyboard-spacebar
          - on-press : left-thumb-row1-col1 -> keyboard-left-windows
          - on-press : left-thumb-row1-col2 -> keyboard-left-control

          // thumb cluster - right
          - on-press : right-thumb-row0-col0 -> keyboard-delete
          - on-press : right-thumb-row0-col1 -> keyboard-right-alt
          - on-press : right-thumb-row1-col0 -> keyboard-enter
          - on-press : right-thumb-row1-col1 -> keyboard-escape
          - on-press : right-thumb-row1-col2 -> keyboard-right-control
        }
    }
}

pin-remappings { }
